extends layout

block container
  h1 BITS Pilani
  p Welcome to CG Transcripts portal.
  -if(message)
    .alert.alert-info #{message}
  p Hello, #{user.name}
  b Email : #{user.email}
  img(src=user.image width=128 height=128)
