extends layout

block container
    .text-center
        -if(message)
            .alert.alert-info
                b Message : &nbsp;
                span=message
        
        h1 BITS Pilani, Hyderabad Campus
        p  CG Transcripts Online Application portal.
        img(src="img/logo.png" width=256 height=256)
        br
        a.btn.btn-danger(href="./dashboard") Login using Gmail
        hr
        p You can login with any gmail account, but a BITS ID email address is preferred.
        small Created by 
            a(href="https://hereisdx.github.io/") Divyanshu Agrawal
